* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    background-image: linear-gradient(45deg, red,orange,yellow,green,blue,indigo,violet);
}

header {
    margin: 0 25%;
    text-align: center;
    color: white;
}

header h1{
    padding: 20px;
    font-size: 35px;
}

header p {
    font-size: 18px;
}

form, section {
    margin: 0 30%;
    display: flex;
    flex-direction: column;
    color: rgb(70, 30, 5);
    font-weight: 700;
    letter-spacing: 1px;
}

label {
    padding: 25px 0 10px 0;
    font-size: 20px;
}

input {
    border-radius: 10px;
    height: 40px;
    font-size: 20px;
    padding: 20px;
}

.btn {
    margin: 5% 30%;
    padding: 20px;
    font-size: 20px;
    background-color: rgb(228, 178, 241);
    color: rgb(45, 48, 50);
    font-weight: 700;
    letter-spacing: 1px;
}

.btn:hover {
    background-color: rgb(211, 81, 244);
    color: aliceblue;
}

table {
    border: 2px solid black;
}